{% extends 'Back/back.html.twig' %}

{% block title %}Modifier une réclamation{% endblock %}

{% block content %}
    <h1>Modifier cette réclamation</h1>

    <main class="browse-section">
        <div class="container">
            <div class="row">

                <div class="post501">
                    {{ form_start(form)}}
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <h4> <strong>Description*</strong></h4>
                                {{ form_widget(form.description,{'attr':{ 'placeholder': 'Description of Project Here' ,'class': 'textarea_input' }})}}

                            <div style="color: red">{{ form_errors(form.description) }}</div>
                                <h5> <strong>Statut*</strong></h5>
                        {{ form_widget(form.statut,{'attr':{ 'placeholder': 'Modifier le statut' ,'class': 'job_input' }})}}
                        </div>
                        </div>
                        <div class="col-lg-12">
                            <button class="add-post" type="submit" formnovalidate>Modifier</button>
                        </div>
                    </div>
                    {{ form_end(form)}}
                </div>
            </div>

        </div>
        </div>
    </main>
{% endblock %}
