{% extends 'base.html.twig' %}
{% block title %}About us{% endblock %}
{% block content %}
<main class="browse-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading">
                    <h2>About Us</h2>
                    <div class="line-shape1">
                        <img src="images/line.svg" alt="">
                    </div>
                </div>
                <div class="about_des">
                    <p>Being the Boss of You, you are the CEO of your own company, you are an autonomous entity. You are free to choose the kind of clients and people you want to work with. You have the authority to choose not to work with aggressively difficult clients.</p>
                    <p>Break the monotony, Do you ever feel like you are doing the same kind of work every day, every hour? Like you are stuck in a constant loop of monotonous work with no escape in sight? Once you have adopted the freelance lifestyle, the ball is in your court. Since you have the freedom to choose your client and the project, you are free to mix it up. You not only have the flexibility to choose the kind of work you do but also control the office hours. Work when the creative juices are flowing and take a break whenever the wish arises. No more depending on the clock to eat lunch or take a tea break. Customize your own routine.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="choose_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="choose_left">
                        <div class="main-heading bids_heading">
                            <h2>Why Choose Us</h2>
                            <div class="line-shape1">
                                <img src="images/line.svg" alt="">
                            </div>
                        </div>
                        <div class="choose_des">
                            <p>We'll let you choose whether to take on short or long-term projects and to also be selective about the companies you work with. The opportunity to branch into new areas rather than staying in one department is a big benefit for many people and will help keep your career interesting.</p>
                            <ul>
                                <li>
                                    <div class="abt142">
                                        <i class="fas fa-check-circle"></i><p>Flexibility</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="abt142">
                                        <i class="fas fa-check-circle"></i><p>Starting small</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="abt142">
                                        <i class="fas fa-check-circle"></i><p>Select the projects you take on and clients you work with</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="abt142">
                                        <i class="fas fa-check-circle"></i><p>Strong earning potential</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="abt142">
                                        <i class="fas fa-check-circle"></i><p>Opportunity to grow & develop</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="abt142">
                                        <i class="fas fa-check-circle"></i><p>Independence</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about_video">
                        <iframe src="https://www.youtube.com/embed/pxjLqOGfL5g" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our_team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h2>Meet Our Team</h2>
                        <div class="line-shape1">
                            <img src="images/line.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img src="{{ asset('images/sabri.jpg') }}" alt="">
                        </div>
                        <h4>Sabri Baccar</h4>
                        <span>Master</span>
                        <ul class="team_links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a> </li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img src="{{ asset('images/malek.jpg') }}" alt="">
                        </div>
                        <h4>Malek Abassisse</h4>
                        <span>Developer</span>
                        <ul class="team_links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img src="{{ asset('images/Oussema.jpg') }}" alt="">
                        </div>
                        <h4>Oussama Fdhila</h4>
                        <span>Developer</span>
                        <ul class="team_links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img src="{{ asset('images/chehine.jpg') }}" alt="">
                        </div>
                        <h4>Chehine Zouari</h4>
                        <span>Developer</span>
                        <ul class="team_links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img src="{{ asset('images/syrine.jpg') }}" alt="">
                        </div>
                        <h4>Syrine Ben Slim</h4>
                        <span>Developer</span>
                        <ul class="team_links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img src="{{ asset('images/yassine.jpg') }}" alt="">
                        </div>
                        <h4>Med Yassine Samaali</h4>
                        <span>Developer</span>
                        <ul class="team_links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
