{% extends 'base.html.twig' %}

{% block title %}edit User{% endblock %}

{% block content %}

    <main class="browse-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="main-heading bids_heading">
                        <h2>Edit Freelancer Profile</h2>
                        <div class="line-shape1">
                            <img src="images/line.svg" alt="">
                        </div>
                    </div>
                    <div class="post501">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                {{ form_start(form) }}
                                    <label class="label15">First Name*</label>
                                    {{ form_widget(form.prenom,{'attr':{ 'placeholder': 'First Name Here' ,'class': 'job-input' }})}}
                                    <div style="color:red">{{ form_errors(form.prenom) }} </div>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label15">Last Name*</label>
                                    {{ form_widget(form.nom,{'attr':{ 'placeholder': 'Last Name Here' ,'class': 'job-input' }})}}
                                    <div style="color:red">{{ form_errors(form.nom) }} </div>

                                </div>
                            </div>
                           
                          
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label15">Birthday*</label>
                                    {{ form_widget(form.date_naissance,{'attr':{ 'placeholder': 'Enter Your Birth Date'}})}}
                                </div>
                            </div>
                           
                               <div class="col-lg-12">
										<div class="form-group">
											<label class="label15">Skills*</label>
											<div class="ui fluid multiple search selection dropdown skills-search">
												<input name="tags" type="hidden" value="">
												<i class="dropdown icon"></i>
												<input class="search" autocomplete="off" tabindex="0"><span class="sizer" style=""></span><div class="default text">Skills</div>
												<div class="menu transition hidden" tabindex="-1">
													{{ form_widget(form.competences ,{'attr':{  'class': 'ui fluid multiple search selection  skills-search' }})}}
												</div>
											</div>
										</div>
									</div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label15">Description*</label>
                                    {{ form_widget(form.description,{'attr':{ 'placeholder': 'Description of Project Here' ,'class': 'textarea_input' }})}}
                                    <div style="color:red">{{ form_errors(form.description) }} </div>

                                </div>
                            </div>
                             <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label15">Profession*</label>
                                    {{ form_widget(form.profession,{'attr':{ 'placeholder': 'Job Here' ,'class': 'job-input' }})}}
                                    <div style="color:red">{{ form_errors(form.profession) }} </div>

                                </div>
                            </div>
                                <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label15">Address</label>
                                    {{ form_widget(form.address,{'attr':{ 'placeholder': 'Address Here ' ,'class': 'job-input' }})}}
                                     <div style="color:red">{{ form_errors(form.address) }} </div>

                                </div>
                            </div>
                             <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label15">Code Postal</label>
                                    {{ form_widget(form.code_postal,{'attr':{ 'placeholder': 'Code postal Here' ,'class': 'job-input' }})}}
                                     <div style="color:red">{{ form_errors(form.code_postal) }} </div>

                                </div>
                            </div>


                                </div>
                            </div>


                            </div>




                            <div class="col-lg-12">
                                
                                {{ form_end(form) }}
                            </div>
                        </div>
                        

                    </div>
                </div>
               
            </div>
        </div>
    </main>

    

    
{% endblock %}
