
{% extends 'Back/backk.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

    <!-- Header End -->
    <div class="title-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="title-bar-text">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contrat index</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Title Start -->

    <!-- Body Start -->
    <main class="browse-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-9">
                    <div class="main-heading">
                        <h2>CONTRAT</h2>
                        <div class="line-shape1">
                            <img src="images/line.svg" alt="">
                        </div>
                    </div>
                    <div class="statement_table checkout_dt">
                        <div class="statement_body">
                            <div class="table-responsive-md">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Id client</th>
                                        <th scope="col">id freelancer</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Statut</th>
                                        <th scope="col">date</th>
                                        <th scope="col">actions</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contrat in contrats %}
                                        <tr>
                                            <th scope="row">
                                                <div class="user_dt_trans">
                                                    <p>{{ contrat.id }}</p>
                                                </div>
                                            </th>
                                            <td>
                                                <div class="user_dt_trans">
                                                   <p>{{ contrat.userClient.prenom }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
     <p>{{ contrat.userFreelancer.nom }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
                                                    <p>{{ contrat.prix }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
                                                    <p>{{ contrat.statut }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
         <p>{{ contrat.createdat ? contrat.createdat|date('Y-m-d H:i:s') : '' }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="righttfooter" >
                                                    <a class="print_btn" href="{{ path('facture_index', {'id': contrat.id}) }}">facture</a>

                                                </div>
                                            </td>


                                            <td>
                                                <div class="righttfooter" >
                                                    <a class="print_btn" href="{{ path('contratm', {'id': contrat.id}) }}">modifier</a>

                                                </div>
                                            </td>




                                            <td>

                                                <div class="righttfooter" >
                                                    {{ include('contrat/_delete_form.html.twig') }}

                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <div class="navigation">
                                    {{ knp_pagination_render(contrats) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </main>
    <!-- Body End -->

    <!--Callendar-->
  {% if contrats %}


        <div id="calendrier">
        </div>

        </section>
        <br>

    {% endif %}




{% endblock %}
{% block pageScripts %}

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

    <script>
        console.log("test");
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true
            })
            calendar.on('eventChange', (e) => {
                let url = "/contrat/api/${e.event.id}/edit"
                let donnees = {
                    "title": e.event.title,
                    "start": e.event.start,
                    "end": e.event.end,
                    "allDay": e.event.allDay
                }

                let xhr = new XMLHttpRequest
                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))
            })
            calendar.render()
        }
    </script>
{% endblock %}